<h3>Guest:</h3>

<% @sorted_episodes = @guest.episodes.sort_by{ |ep| ep.appearances.first.rating}.reverse %>
<% @sorted_episodes.each do |ep| %>
<%= link_to "Episode ".html_safe + ep.date, episode_path(ep) %><br>
<%= "Rating: #{ep.appearances.first.rating}" %><br><br>
<% end %>

<%= link_to '<button type="button">Guests</button>'.html_safe, "/guests"%><br>
<%= link_to '<button type="button">Episodes</button>'.html_safe, "/episodes"%><br>
<%= link_to '<button type="button">Create Appearance</button>'.html_safe, "/appearances/new"%>


