<h3>Episode: <%= @episode.date %><br></h3>
<h4>Guest Appearances:</h4>

<% if @episode.appearances.length > 0 %>
<ul>
<% @sorted_guests = @episode.guests.sort_by{|guest| guest.name}%>
<% @sorted_guests.each do |guest| %>
<li><%= link_to guest.name, guest_path(guest) %></li><br>
<% end %><br>
</ul>

<% total = 0 %>
<% @episode.appearances.each do |app| %>
<% total += app.rating %>
<% end %>
<h4>Average Rating:</h4>
<%= total/@episode.appearances.length %>
<% else %>
<p>No Appearances Created</p>
<%= link_to '<button type="button">Create Appearance</button>'.html_safe, "/appearances/new"%>

<% end %>

<br><br><%= link_to '<button type="button">Back</button>'.html_safe, "/episodes"%>